@charset "utf-8";
header{
	 background-color:#2A9D8F;
	height: 58px;
	  font-size: 30px

	
	
	
	
	
      }

.table{  border-radius: 40px;                                   }
.table1{          border-radius: 30px;          background-color:#FFB5A7;                         }