@charset "utf-8";
header{
	 background-color:#2A9D8F;
	height: 58px;
	  font-size: 30px }


article{
	
	
	
	
	
	
}

.table{  border-radius: 40px;                                   }
.contactus{      border-radius: 25px; background-color: #2A9D8F}