@charset "utf-8";
header{
	 background-color:#008183;
	height: 58px;
	  font-size: 30px

	
	
	
	
	
      }

.image1{
	 
	
	
	
	
	
}


.image2{    background-color: darkcyan;   margin: 30px;
	border-color: black
}




.image3{
	 
	margin: 50px;
	
	
}



.imag4{
	margin: 50px 80px 80px 80px;
		
	
	
	
}