@charset "utf-8";
header{
	 background-color:#008183;
	height: 58px;
	  font-size: 30px;

	
	
	
	
	
      }


.table{  border-radius: 40px;                                   }

.image1{
	 margin-left: 10px;
	
	
	
	
	
}


.image2{    background-color: darkcyan;   margin: 30px;
	border-color: black
}




.image3{
	 
	margin: 50px;
	
	
}



.imag4{
	margin: 50px 80px 80px 80px;
		float: right
	
	
	
}