@charset "utf-8";
header{
	 background-color:#2A9D8F;
	height: 58px;
	  font-size: 30px

	
	
		  
	
	
	
      }
.table4{  border-radius: 40px;                         }
.table2{ border-radius: 33px; background-color: #B7B7A4                             }
.table3{   border-radius: 5px 5px 33px 33px                                            }
