@charset "utf-8";
header{
	 background-color:#008183;
	height: 58px;
	  font-size: 30px

	
	
		  
	
	
	
      }
.table2{ border-radius: 33px; background-color: #B7B7A4                             }
.table3{   border-radius: 5px 5px 33px 33px                                            }
